<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>Home Trafico</title>
</head>
<body>
  <!-- Header e Banner -->
  <div>
    <% if(error != "undefined"){ %>
        <h3><%= error %></h3>
      <% } %> 
  </div>
  <header>
    <div id="headerAbsolute">
      <div>
        <img src="./img/logo.png" alt="Logo" id="logo">
      </div>
      <div id="nav">
        <button class="buttonNav">ABOUT</button>
        <button class="buttonNav">HOW TO</button>
        <button class="buttonNav">FAQS</button>
        <button class="buttonNav">CONTACT US</button>
      </div>
    </div>
    <h1>
      Your awesome<br>traffic permit<br>consultant.
    </h1>
    <button id="buttonStarted">
      GET STARTED ->
    </button>
    <img src="./img/mobel.png" alt="Mobel" id="caminhao">
    <img src="./img/entrega.png" alt="Banner" id="banner">
  </header>
  <div class="divisor"></div>
  <!-- Section About Us -->
  <section class="sectionDefault">
    <div class="box">
      <h2>ABOUT US</h2>
      <p class="description">
        A autorização de trânsito ocupacional é uma das coisas mais importantes 
        na empresa no transporte de mercadorias. Na verdade, é um pré-requisito 
        para fazer o tráfego de negócios.
      </p>
      <div id="card">
        <div id="line"></div>
        <p id="text">
          Como você se comporta quando precisa obter uma autorização de tráfego 
          comercial para o transporte de cargas até sua empresa?
        </p>
      </div>
    </div>
    <div>
      <img src="./img/sobre-nos.png" alt="Sobre" class="imageInfo">
    </div>
  </section>
  <div class="divisor"></div>
  <!-- Section How to apply -->
  <section class="sectionDefault">
    <div>
      <img src="./img/apply.png" alt="Sobre" class="imageInfo">
    </div>
    <div class="box">
      <h2>How to apply</h2>
      <p class="description">
        Ao solicitar uma autorização de trânsito, existem alguns requisitos que 
        você deve cumprir e que estão incluídos no exame: requisitos de 
        conhecimento profissional, estabelecimento sólido, boa reputação e 
        recursos financeiros. É importante lembrar que você deve confirmar seu 
        pedido de autorização de tráfego pelo signatário ou CEO da empresa.
      </p>
    </div>
  </section>
  <!-- Section Faq -->
  <section class="sectionDefault">
    <div class="box">
      <h2>FAQ</h2>
      <p class="subtitle">
        Questions and Answers on Professional Traffic Permits:
      </p>
    </div>
    <div>
      <img src="./img/faq.png" alt="Faq" class="imageInfo">
    </div>
  </section>
  <section id="sectionFaq">
    <!-- Line 1 -->
    <div class="lineFaq">
      <div class="cardFaq">
        <p class="textFaq">
          What is a professional traffic permit?
        </p>
        <button class="verMais">+</button>
      </div>
      <div class="cardFaq">
        <p class="textFaq">
          When is a professional traffic permit needed?
        </p>
        <button class="verMais">+</button>
      </div>
    </div>
    <!-- Line 2 -->
    <div class="lineFaq">
      <div class="cardFaq">
        <p class="textFaq">
          Where to look for a traffic permit?
        </p>
        <button class="verMais">+</button>
      </div>
      <div class="cardFaq">
        <p class="textFaq">
          Are there differences between a traffic permit and a professional traffic permit?
        </p>
        <button class="verMais">+</button>
      </div>
    </div>
    <!-- Line 3 -->
    <div class="lineFaq">
      <div class="cardFaq">
        <p class="textFaq">
          How to check the traffic condition?
        </p>
        <button class="verMais">+</button>
      </div>
      <div class="cardFaq">
        <p class="textFaq">
          How much does a commercial traffic permit cost for goods?
        </p>
        <button class="verMais">+</button>
      </div>
    </div>
    <!-- Line 4 -->
    <div class="lineFaq">
      <div class="cardFaq">
        <p class="textFaq">
          What are the requirements for a professional traffic permit?
        </p>
        <button class="verMais">+</button>
      </div>
      <div class="cardFaq">
        <p class="textFaq">
          How to plug in for the traffic permit test?
        </p>
        <button class="verMais">+</button>
      </div>
    </div>
    <!-- Line 5 -->
    <div class="lineFaq">
      <div class="cardFaq">
        <p class="textFaq">
          Are there professional traffic permit training courses at a distance?
        </p>
        <button class="verMais">+</button>
      </div>
      <div class="cardFaq">
        <p class="textFaq">
          How is the sample for a professional traffic permit booked?
        </p>
        <button class="verMais">+</button>
      </div>
    </div>
    <!-- Line Button -->
    <div class="lineFaq">
      <div id="cardButton">
        <p id="textButton">
          LOAD MORE
        </p>
        <button class="verMais">+</button>
      </div>
    </div>
  </section>
  <div class="divisor"></div>
  <!-- Section About Us -->
  <section class="sectionFeedback">
    <div class="box">
      <h2>ABOUT US</h2>
      <p class="subtitle">
        Out Awesome<br>Clients
      </p>
    </div>
    <div id="boxFeedback">
      <div class="cardFeedback">
        <p>
          Yes, you will need to have the land owner sign the permit application 
          as the Permittee, and you sign the permit as the Applicant or Agent 
          for the Permittee.
        </p>
        <div class="perfilFeedback">
          <img src="./img/user1.png" alt="User" class="user">
          <p>Isak Pettersson</p>
        </div>
      </div>
      <div class="cardFeedback">
        <p>
          From most barricade or traffic control companies located in the phone 
          book. They employ certified Traffic Control Supervisors (TCS) who can 
          generate and certify the traffic control plan.

        </p>
        <div class="perfilFeedback">
          <img src="./img/user1.png" alt="User" class="user">
          <p>Simon Sandberg</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Section Forms -->
  <section id="sectionForms">
    <div id="boxBlue">
      <img src="./img/caminhao.png" alt="Caminhao" id="caminhaoForm">
      <div id="conteudo">
        <div id="cardBox">
          <div id="line"></div>
          <p id="text">
            We provide traffic management consultants so you get started 
            quickly, contact us for a quote today!
          </p>
        </div>
        <div id="formulario">
          <form action="/salvar-feedback" method="post">
            <label>Name</label>
            <input type="text" name="name">
            <label>Email address</label>
            <input type="text" name="email">
            <label>Message</label>
            <textarea name="message" rows="5" cols="36">
            </textarea>
            <button type="submit" value="Submit" id="buttonForm">
              GET STARTED ->
            </button>
          </form>  
        </div>
      </div>
      <div id="footerBoxBlue">
        <div>
          <img src="./img/logo.png" alt="Logo" id="logo">
        </div>
        <div id="nav">
          <button class="buttonNav">ABOUT</button>
          <button class="buttonNav">HOW TO</button>
          <button class="buttonNav">FAQS</button>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div id="textFooter">Copyright @ 2019</div>
    <div>
      <img src="./img/facebook.png" alt="Facebook" class="iconRedesSociais">
      <img src="./img/twitter.png" alt="Twitter" class="iconRedesSociais">
      <img src="./img/instagram.png" alt="Instagram" class="iconRedesSociais">
    </div>
  </footer>
</body>
</html>